.asset {
  border-radius: 16px;
  height: 300px;
  object-fit: cover;
  width: 300px;
  display: block;
  filter: drop-shadow(0px 0px 64px rgba(32, 31, 42, 0.24));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.metadataContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.nftName {
  display: flex;
  padding: 16px 0px;
  text-align: center;
}

.transactionList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 642px;
  padding-bottom: 128px;
}

.transactionText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid lightgray;
}

.transactionTextLeft {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.transactionTextRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.transactionText:last-child {
  border-bottom: none;
}

.transactionListLabelContainer {
  align-items: flex-start;
  flex-direction: row;
}

.searchBarContainer {
  width: 642px;
  display: flex;
  padding: 16px 0px;
}

.searchBarInput {
  display: flex;
  padding: 16px 0px;
}

.explorerLink {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 642px) {
  .searchBarContainer {
    width: 80%;
    display: flex;
    padding: 16px 0px;
  }

  .transactionList {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    padding-bottom: 64px;
  }
}

@media only screen and (max-width: 400px) {
  .asset {
    border-radius: 16px;
    width: 80%;
    height: auto;
    filter: drop-shadow(0px 0px 64px rgba(32, 31, 42, 0.24));
  }
}
